#profile-pic {
  border-radius: 50%;
  width: 170px;
  height: 170px;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#desc {
  padding-top: 0px;
  font-family: 'Merriweather', serif;
  color: black;
  width: 30%;
  margin: auto;
  font-size: 20px;
}

h2 {
  color: #11999e;
  padding-top: 13px;
}

hr {
  background-color: white;
  border: dotted black 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
